<h2>{{this.title}}</h2>
<ul>
  {{#each this.people as |person|}}
    <li>
      <button {{action "showPerson" person}}>{{person}}</button>
      <button {{action "talkToMe" person}}>Talk to Me</button>
    </li>
  {{/each}}
</ul>